{{ $nome := .Get "nome" }}
<!--
    lingua
    estado
-->
{{ $tipo := .Get "tipo" }}
{{ $titulo := .Get "titulo" }}
{{ $ligazon := .Get "ligazon" }}
{{ $ancho := .Get "ancho" }}
{{ $alto := .Get "alto" }}

{{ if $ligazon }}
<a rel="noopener" target="_self" href="{{ $ligazon }}">
{{ end }}
{{ if and $nome $tipo $ancho $alto }}
<svg style="color: var(--color-text); border:1px solid currentColor; padding:1px" width="{{ $ancho }}" height="{{ $alto }}">
{{ if eq $tipo "lingua" }}
    {{ if eq $nome "gz" }}
        {{ if $titulo }}
        <title>{{ $titulo }}</title>
        {{ else }}
        <title>Galego</title>
        {{ end }}
        <image xlink:href="/linguas/gz_0.svg" width="100%" height="100%"/>
    {{ else if eq $nome "en" }}
        {{ if $titulo }}
        <title>{{ $titulo }}</title>
        {{ else }}
        <title>English</title>
        {{ end }}
        <image xlink:href="/linguas/en_0.svg" width="100%" height="100%"/>
    {{ else if eq $nome "cas" }}
        {{ if $titulo }}
        <title>{{ $titulo }}</title>
        {{ else }}
        <title>Castellano</title>
        {{ end }}
        <image xlink:href="/linguas/cas_0.svg" width="100%" height="100%"/>
    {{ end }}
{{ else if (eq $tipo "nacion") }}
    {{ if eq $nome "gz" }}
        {{ if $titulo }}
        <title>{{ $titulo }}</title>
        {{ else }}
        <title>Galicia</title>
        {{ end }}
        <image xlink:href="https://raw.githubusercontent.com/Ran-n/svgs/main/nacions/gz_0.svg" src="nacions/gz_0.svg" width="100%" height="100%"/>
    {{ else if eq $nome "en" }}
        {{ if $titulo }}
        <title>{{ $titulo }}</title>
        {{ else }}
        <title>England</title>
        {{ end }}
        <image xlink:href="https://raw.githubusercontent.com/Ran-n/svgs/main/nacions/en_0.svg" src="nacions/en_0.svg" width="100%" height="100%"/>
    {{ else if eq $nome "cas" }}
        {{ if $titulo }}
        <title>{{ $titulo }}</title>
        {{ else }}
        <title>Castilla</title>
        {{ end }}
        <image xlink:href="https://raw.githubusercontent.com/Ran-n/svgs/main/nacions/cas_0.svg" src="nacions/cas_0.svg" width="100%" height="100%"/>
    {{ else if eq $nome "usa" }}
        {{ if $titulo }}
        <title>{{ $titulo }}</title>
        {{ else }}
        <title>United States of America</title>
        {{ end }}
        <image xlink:href="https://raw.githubusercontent.com/Ran-n/svgs/main/nacions/usa_0.svg" src="nacions/usa_0.svg" width="100%" height="100%"/>
    {{ else if eq $nome "de" }}
        {{ if $titulo }}
        <title>{{ $titulo }}</title>
        {{ else }}
        <title>Deutschland</title>
        {{ end }}
        <image xlink:href="https://raw.githubusercontent.com/Ran-n/svgs/main/nacions/de_0.svg" src="nacions/de_0.svg" width="100%" height="100%"/>
    {{ else if eq $nome "can" }}
        {{ if $titulo }}
        <title>{{ $titulo }}</title>
        {{ else }}
        <title>Canada</title>
        {{ end }}
        <image xlink:href="https://raw.githubusercontent.com/Ran-n/svgs/main/nacions/can_0.svg" src="nacions/can_0.svg" width="100%" height="100%"/>
    {{ end }}
{{ end }}
</svg>
{{ end }}
{{ if $ligazon }}
</a>
{{ end }}
